body{
    margin: 0px;
    padding: 0px;
    background:  #0C2036;
    height: 2110px;
    font-family: 'Ubuntu', sans-serif;
}
.nav{
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.one{
    display: flex;
    justify-content: center;
}
.logo{
    display: flex;
    padding-top: 21px;
    justify-content: center;
}
#logo{
    margin-left: 10px;
}
form{
    display: flex;
    margin-left: 105px;
    padding-top: 60px;
    width: 336px;
    height: 30px;
    justify-content: center;
}
#menu{
    margin-left: 105px;
    padding-top: 60px;
    justify-content: center;
}
.menu{
    text-decoration: none;
    margin-right: 38px;
    color:rgb(255, 255, 255);
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    padding-top: 60px;
    justify-content: center;
}
.akk{
    width: 67px;
    height: 52px;
    padding-top: 51px;
}
.small{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin-top: 79px;
    color: #FFFFFF;
}
.zhopa{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    margin-top: 75px;
    color: #FFFFFF;

}
.xuy{
    width: 965px;
    height: 504px;
    margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 15px;
}
.peps{
    font-style: normal;
    font-weight: 300;
    text-align: center;
    margin-top: 165px;
    font-size: 26px;
    line-height: 30px;
    color: #FFFFFF;
}
.wrapper228{
    width: 970px;
    height: 490px;
    margin: 0 auto;
    margin-top: 88px;
    background: #D9D9D9;
}
.box228{
    width: 247px;
    height: 126px;
    margin-left: 70px;
    background: #C14343;
}
.strel{
    height: 2px;
    margin-top: 18px;
    margin-top: 397px;
    background: #F9BF3B;
}
.footer{
    display: flex;
    justify-content: center;
}
.sprav{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #FFFFFF;
    margin-top: 40px;
    margin-right: 55px;
    padding-bottom: 40px;
}
.pred{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #FFFFFF;
    padding-top: 40px;
    margin-right: 55px;
    padding-bottom: 40px;
}
.vk{
    display: flex;
    justify-content: center;
    margin-top: 29px;
    margin-right: 55px;
    padding-bottom: 40px;
}
